proxmox_api_url          ="https://<proxmox_ip_or_hostname>:8006/api2/json"
proxmox_api_token_id     ="root@pam!<token_name>"
proxmox_api_token_secret ="<api_secret_token>"
public_ssh_key           ="<public_key_cat_output>"
ip_config                ="ip=dhcp"
user_name                ="<choose_a_username>"
dns_nameserver           ="<choose_a_dns_ip>"
